.btn {
  font-size: 1em;
  padding: 1em 3em;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  color: white;
  background-color: var(--primary);
}

.btn--outlined {
  color: var(--primary);
  background-color: white;
  border: 1px dashed var(--primary);
}

.btn--light {
  color: var(--primary);
  background-color: white;
  padding: 1.5em 3em;
  font-size: 1em;
  font-weight: 700;
}