.btn {
  font-size: 14px;
  padding: 12px 40px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border: none;
  color: white;
  background-color: var(--primary);
}

.btn--outlined {
  color: var(--primary);
  background-color: white;
  border: 1px dashed var(--primary);
}

.btn--light {
  color: var(--primary);
  background-color: white;
  padding: 20px 48.5px;
  font-size: 15px;
  font-weight: 700;
}