.form {
  width: 100%;
}

.form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.form__item__input {
  margin-top: .25em;
  border: 1px solid var(--primary);
  padding: .5em;
  background-color: var(--white);
}

.form__btn {
  margin-top: 1em;
}