.form__item {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.form__item__input {
  margin-top: .25em;
  border: 1px solid var(--primary);
  padding: .5em;
  background-color: var(--white);
}

.form__btn {
  margin-top: 1em;
}

@media screen and (min-width: 1024px) {
  .form-wrapper {
    max-width: 768px;
    margin: 0 auto;
  }
}