@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

:root {
  --primary: #EB6C27;
  --btn--filled: #EB6C27;
  --text: #3A3A3A;
  --text--gray: #888;
  --background: #FFF;
  --lprimary: #FFBE9A;

  --white: #fff;
}

html  {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--background);
  color: var(--text);
}

.img {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1em;
  background-color: var(--white);
}

.navbar__menu {
  position: absolute;

  height: 14em;
  top: 7em;
  right: 1em;
  left: 1em;

  background-color: var(--primary);
  
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.navbar__menu::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 20px solid var(--primary);
  top: -20px;
  right: 0.5em;
  position: absolute;
}

.navbar__menu.visible {
  display: flex;
}

.nav__item {
  list-style: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
}

.page__header {
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../img/pageheader-1920w.jpg");
  background-blend-mode: normal, normal, hue, normal;
}

.page__header__body {
  height: 17rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.sluzby {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5em;
}

.sluzba:nth-child(odd) .img {
  border-radius: 0 0 40px 0;
}

.sluzba:nth-child(even) .img {
  border-radius: 0 0 0 40px;
}

.sluzba:nth-child(2) .img {
  border-radius: 0 0 0 20px;
}

.sluzby-nabidky {
  height: 11rem;
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url("../img/background-CTAblock-4460w.jpg");
}

.reference {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5em;
  justify-items: center;
}

.reference__item {
  color: var(--text);
  text-decoration: none;
}

.footer {
  background-color: var(--primary);
}

.marker--primary::marker {
  color: var(--primary);
}

.padding {
  padding: 1.5em;
}

.padding--list {
  padding: 1em;
}

.block {
  display: block;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}