@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

:root {
  --primary: #EB6C27;
  --btn--filled: #EB6C27;
  --text: #3A3A3A;
  --text--gray: #888;
  --background: #FFF;
  --lprimary: #FFBE9A;

  --white: #fff;
}

html  {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: var(--background);
  color: var(--text);

  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.header {
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../img/pageheader-1920w.jpg");
  background-blend-mode: normal, normal, hue, normal;
}

.header__body {
  height: 17rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
}

.header__title {
  color: var(--white);
}

.header__description {
  font-size: 1.4rem;
  font-weight: 200;
  display: block;
}

.sluzby {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
}

.sluzba:nth-child(odd) .sluzba__img {
  border-radius: 0 0 3em 0;
}

.sluzba:nth-child(even) .sluzba__img {
  border-radius: 0 0 0 3em;
}

.sluzba:nth-child(2) .sluzba__img {
  border-radius: 0 0 0 1.5em;
}

.sluzba__img {
  max-height: 20em;
}

.sluzby-nabidky {
  background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url("../img/background-CTAblock-4460w.jpg");
}

.section__header {
  max-width: 960px;
  margin: 0 auto;
}

.section__content {
  max-width: 1024px;
  font-size: 1.2rem;
  margin: 0 auto;
}

.section {
  padding: 1.5em;
}

.list-title {
  margin: 0;
  margin-top: .5em;
}

.list {
  padding: .5em 1.35em;
  margin: 0;
}

.marker--primary::marker {
  color: var(--primary);
  font-size: 1.5em;
}

.marker--primary {
  list-style: disc;
  line-height: 1rem;
}

.padding {
  padding: 1.5em;
}

.block {
  display: block;
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.contact__list-element {
  display: flex;
  align-items: center;
  gap: .5em;
  margin: 2em 0;
}

.contact__list-element a {
  text-decoration: none;
}

.contact {
  margin: 0 -1.5em;
}

.contact__list {
  margin: 0 1.5em;
}

.header__btn {
  display: none;
}

.row--2 {
  grid-row: span 2 / span 2;
}

.row--3 {
  grid-row: span 3 / span 3;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  grid-auto-flow: dense;
}
@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .header--low {
    height: 9.15em;
  }
  .header__body {
    height: 100vh;
    padding-bottom: 5em;
  }
  .section__header {
    text-align: center;
  }
  .sluzba {
    display: flex;
    gap: 1em;
  }
  .sluzba__aside {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 1;
  }
  .sluzba:nth-child(even) {
    flex-direction: row-reverse;
  }
  .sluzby {
    max-width: 1280px;
    margin: 0 auto;
  }
  .sluzby-nabidky {
    padding-left: 5em;
  }
  .contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
  }
  .contact__list {
    justify-self: center;
  }
  .contact__map-wrapper {
    position: relative;
  }
  .contact__map-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
  .contact__map-overlay:hover {
    background-color: var(--primary);
    opacity: 0.54;
  }
  .header__btn {
    display: inline-flex;
    align-items: center;
    gap: 1em;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
  }
  .list {
    padding: .5em 4.35em;
  }
}