.text--bold {
  font-weight: 700;
}

.text--light {
  font-weight: 300;
}

.text--primary {
  color: var(--primary);
}

.text--white {
  color: var(--white);
}

.text--s1 {
  font-size: 1.6rem; /*22px*/
}

.text--s3 {
  font-size: 1.2rem; /*17px*/
}

.text--s4 {
  font-size: 0.85rem; /*12px*/
}

.section__title {
  font-size: 1.6rem;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .header__title {
    font-size: 3.5rem;
  }
  .header__description, .section__title, .sluzba__title, .text--s1 {
    font-size: 2rem;
  }
  .reference__title {
    font-size: 1.7rem;
  }
  .text--s3 {
    font-size: 1.5rem;
  }
  .text--s4 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 14px;
  }
  .header__title {
    font-size: 5rem;
  }
  .section__title {
    font-size: 3.5rem;
  }
  .text--s3, .text--s1 {
    font-size: 2.2rem;
  }
  .header__description, .sluzba__title, .reference__title {
    font-size: 2rem;
  }
  .section__description, .sluzba__text, .text--s4 {
    font-size: 1.2rem;
  }
  .reference__title {
    margin: 0;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 16px;
  }
}